h1{
    color:rgb(240, 195, 195);border-style:solid;border-color: black; background-color: darkcyan;
        padding-top: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        margin-bottom: 50px;
        margin-right: 1200px
        ;
      }
.myp{
    background-color: rgb(36, 36, 95); padding-top: 50px; color:beige;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-bottom: 100px;
    margin-right: 1200px
}

#myname{
    color:yellow;border-style:solid;border-color: blueviolet;padding: {50px 55px 50px 55px};
    margin-right: 1400px ;
    margin-bottom: 1000px ;
}